*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.containerStyle{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(500px,2fr));
gap: 20px;
/* grid gap: 10px; */
/* justify-content: center; */
}
.choose-txt{
margin: 1rem;
/* font-size: 0; */
text-align: center;
}
.containerstyle{
  display: flex;
  justify-content: center;
}
h3{
  text-align: center;
}
.boxer{
  position: absolute;
  top:10%;
  left: 40%;
  transform: 'translate(-50%, -50%)';
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  width: 30vw;
  height: 25vw;
}
form{
  padding: 1rem;
  text-align: center;
}
form .preview{
  margin: 2rem;

}
form .accept{
  margin: 1rem;
  padding: 1rem;
}
input{
  color: white;
}
input[type="text"]{
  color: black;
  outline: none;
  height: 2.2rem;
  border-radius:6px;
  border: none;
  padding: 4px;
  margin: 0.6rem;
}
.hello {
padding: 10px;
border-radius: 6px;
background-color: #40E0D0;
color: gray;
border: none;
margin: 0.6rem;
}
.title{
  font-size: larger;
  margin: 1rem;
  color: whitesmoke;
}
.cato-container{
  display: flex;
}
.c-container{
  /* padding: 1rem; */
border: 1px solid black;
border-radius: 10px ;
  height: 20vh;
  width: 15vw;
  margin: 1rem;
}